.row
  .small-12.large-6.columns
    %h2 Resend unlock instructions
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      .actions
        = f.button "Resend unlock instructions", class: 'expand radius'
    = render "devise/shared/links"
