.row
  / Side Bar
  .large-4.small-12.columns
    =image_tag('logo.jpg')
    .hide-for-small.panel
      %h3 #{APP_CONFIG[:tagline]}
      %h5.subheader
        #{APP_CONFIG[:promo_text]}
    .panel.callout.radius#cart_window
      .row
        .small-12.columns
          %h6 Your Cart:
      .row
        .small-4.large-12.columns
          Items: #{@cart.count.to_s}
        .small-4.large-12.columns
          Amount: #{number_to_currency(@cart.total)}
        .small-4.large-12.columns.hide-for-large-only
          =link_to 'Check Out',piggybak.orders_url,{class: 'button radius expand'}
        .large-12.columns.show-for-large-only
          =link_to 'Check Out',piggybak.orders_url,{class: 'button radius expand', style: 'margin-top: 1.5em'}
  / End Side Bar
  / Thumbnails
  .large-8.columns
    .row
      -@items.each do |item|
        = render partial: 'shared/item_listing', locals: {item: item}
    / End Thumbnails
    / Managed By
    -#.row
      .large-12.columns
        .panel
          .row
            .large-2.small-6.columns
              %img{:src => "http://placehold.it/300x300&text=Site Owner"}/
            .large-10.small-6.columns
              %strong This Site Is Managed By
              %hr/
              Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
      / End Managed By

