.item
  = address.label :firstname
  = address.text_field :firstname, :class => "required"
.item
  = address.label :lastname
  = address.text_field :lastname, :class => "required"
.item
  = address.label :address1, "Address"
  = address.text_field :address1, :class => "required"
.item
  = address.label :address2, "Address cont."
  = address.text_field :address2
.item
  = address.label :city
  = address.text_field :city, :class => "required"
.row
  .small-5.columns
    .item
      = address.label :country_id
      = address.collection_select :country_id, Piggybak::Country.send(type), :id, :name, { :selected => address.object.country_id.to_s }, :class => "required"
  .small-3.columns
    .item
      = address.label :state_id
      - if address.object.country.states.any?
        = address.collection_select :state_id, address.object.country.states, :id, :abbr, { :selected => address.object.state_id.to_s }, :class => "required"
      - else
        = address.text_field :state_id, :class => "required"
  .small-4.columns
    .item
      = address.label :zip
      = address.text_field :zip, :class => "required"
