#user_details
  %h3 User Details
  .item
    = f.label :email
    -if current_user
      = f.text_field :email, { :readonly => true, :class => "readonly required" }
    -else
      = f.text_field :email, {:class => "required" }
  .item
    = f.label :phone
    = f.text_field :phone, :class => "required"
  .button.expand.radius
    -if current_user
      #{link_to 'or Sign Out', main_app.destroy_user_session_path, :method => :delete, :class => "last"}
    - else
      #{link_to 'or Sign In', main_app.new_user_session_path}