#checkout
  %h1 Checkout
  #totals_section
    %h3 Totals
    = render "piggybak/cart/items", :page => "checkout"
  = form_for @order, :url => piggybak.orders_url, :method => "POST" do |f|
    - if @order.errors.any?
      #checkout_error
        %b You have errors with your submission:
        %br/
        = raw @order.errors.full_messages.collect { |b| b.gsub(/^Line items payment/, 'Payment').gsub(/^Line items shipment shipping/, 'Shipping') }.join("<br />")
    .clear
    .row
      .medium-6.columns
        .row
          .small-11.columns
            = render "user_details", :f => f
      .medium-6.columns
        .row
          .small-11.columns
            = render "payment", :f => f
            = render "shipping", :f => f
    .row
      .medium-6.columns
        .row
          .small-11.columns
            = render "billing_address", :f => f
      .medium-6.columns
        .row
          .small-11.columns
            = render "shipping_address", :f => f
    .row
      .small-6.small-centered.columns
        = f.button("Checkout", class: 'expand radius')

:javascript
  var shipping_lookup = "#{piggybak.orders_shipping_url}"; 
  var tax_lookup = "#{piggybak.orders_tax_url}"; 
  var geodata_lookup = "#{piggybak.orders_geodata_url}";
  #{
    if (params.has_key?(:piggybak_order) && params[:piggybak_order].has_key?(:shipments_attributes))
      "var previous_shipping = \"#{params[:piggybak_order][:shipments_attributes]["0"][:shipping_method_id]}\";"
    else
      "var previous_shipping = \"\";"
    end
    }

-#
  <haml_silent> if params.has_key?(:piggybak_order) &amp;&amp;  params[:piggybak_order].has_key?(:shipments_attributes)</haml_silent>
  <haml_block>var previous_shipping = #{params[:piggybak_order][:shipments_attributes]["0"][:shipping_method_id]};</haml_block>
  <haml_silent> else </haml_silent>
  <haml_block>var previous_shipping = "";</haml_block>
